@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media screen and (orientation: landscape) {
  body {
    font-family: "DungGeunMo";
  }
  #wrap {
    width: 100vw;
    height: 100vh;
    background: url("../img/bg.png") no-repeat center/cover;
    display: flex;
  }
  .event_section {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .event_section h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
  }
  .event_section .contents {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .event_section .contents .left_area {
    width: 70%;
    height: 100%;
  }
  .event_list {
    width: 20%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    background-color: rgba(0, 0, 255, 0.5);
  }
  .event_list li {
    width: 100%;
    font-size: 20px;
    background: #fff;
    padding: 10px;
  }
  .event_list li:nth-of-type(1) {
    background: #0028ff;
    color: #fff;
  }
  .event_list li:nth-of-type(2) {
    background: #ffcc00;
    color: #000;
  }
  .event_list li:nth-of-type(3) {
    background: #ff5e57;
    color: #fff;
  }
  .event_list li:nth-of-type(4) {
    background: #8e44ad;
    color: #fff;
  }
}
.bingoBoard {
  height: 100%;
  aspect-ratio: 1/1;
  background: #fff;
  table-layout: fixed;
  border-collapse: collapse;
}
.bingoBoard td {
  width: auto;
  aspect-ratio: 1/1;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: 2px solid #000;
  box-shadow: inset -2px -2px 0 #000, inset 2px 2px 0 #666;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.bingoBoard td:hover {
  background-color: #555;
}
.bingoBoard td.selected {
  background-color: #00c6ff;
  color: #000;
  pointer-events: none;
}
.bingoBoard td.bingo {
  background-color: #ff0066;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}

.right_area {
  flex-grow: 1;
}

.restchance, .sumBingo {
  width: 100%;
  margin-left: auto;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}
.restchance span, .sumBingo span {
  color: yellow;
}

#rock_area .btn_area {
  display: flex;
  gap: 1rem;
}
#rock_area .btn_area .button {
  background-color: red;
  border: none;
  color: white;
  padding: 14px 24px;
  font-size: 16px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px rgb(212, 120, 120);
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
#rock_area .btn_area .button.active {
  transform: translateY(2px);
  box-shadow: 0 2px rgb(212, 120, 120);
}
#rock_area .btn_area .button.sccisor {
  background: url("../../src/img/sccisor.png") no-repeat center/cover red;
}
#rock_area .btn_area .button.rock {
  background: url("../../src/img/rock.png") no-repeat center/cover red;
}
#rock_area .btn_area .button.paper {
  background: url("../../src/img/paper.png") no-repeat center/cover red;
}
#rock_area .btn_area .button.computer {
  background-color: blue;
  box-shadow: 0 2px rgb(12, 12, 48);
  margin-left: auto;
}
#rock_area .btn_area .button.selected {
  transform: scale(1.2);
  pointer-events: none;
}

#roulette-container {
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
#roulette-container .pin {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  z-index: 2;
  background: url("../../src/img/pin.png") no-repeat center/cover;
}
#roulette-container .roulett {
  background: url("../../src/img/roul_bg.png") no-repeat center/cover;
  width: 100%;
  height: 100%;
  transition: 1s;
}
#roulette-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
}

#gacha {
  width: 100%;
}
#gacha .gacha {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#gacha .gacha li {
  background: #fff;
  width: 10%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  position: relative;
}
#gacha .gacha li.selected {
  pointer-events: none;
  font-size: 2rem;
}
#gacha .gacha li.selected.SSS {
  background: gold;
  color: #fff;
  animation: sss-glow 1s infinite alternate;
}
@keyframes sss-glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 40px gold;
    transform: scale(1.1);
    opacity: 0.8;
  }
}
#gacha .gacha li.selected.SS {
  background: #C0C0C0;
  color: #000;
}
#gacha .gacha li.selected.S {
  background: #cd7f32;
  color: #fff;
}
#gacha .gacha li.selected.A {
  background: #4caf50;
  color: #fff;
}
#gacha .gacha li.selected.B {
  background: #90a4ae;
  color: #fff;
}
#gacha .gacha li.selected.C {
  background: #000;
  color: #fff;
}

#marble {
  display: grid;
  grid-template-columns: repeat(5, 65px);
  grid-template-rows: repeat(5, 65px);
  position: relative;
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
  perspective: 800px;
}
#marble .tile {
  position: relative;
  background: black;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #fff;
  font-weight: bold;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
#marble .tile.red {
  background: red;
}
#marble .tile.green {
  background: #4caf50;
}
#marble .tile.cyan {
  background: #00bcd4;
}
#marble .tile.sky {
  background: #03a9f4;
}
#marble .tile.blue {
  background: #2196f3;
}
#marble .tile.purple {
  background: #9c27b0;
}
#marble .tile.pink {
  background: #e91e63;
}
#marble .tile:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.3);
  transform: rotateX(90deg);
  transform-origin: top;
  z-index: -1;
}
#marble .tile::before {
  content: "";
  position: absolute;
  right: -6px;
  top: 0;
  width: 6px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: rotateY(90deg);
  transform-origin: left;
  z-index: -1;
}
#marble .empty {
  background: transparent;
}
#marble .dice_area {
  position: absolute;
  width: 70px;
  height: 70px;
  background: red;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.dice-container {
  width: 100%;
  height: 100%;
  perspective: 600px; /* 원근감 */
}

.dice {
  width: 80px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-35deg) rotateY(-45deg) rotateZ(45deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border: 2px solid #333;
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 6면 위치 설정 */
.one {
  transform: rotateY(0deg) translateZ(40px);
}

.two {
  transform: rotateY(180deg) translateZ(40px);
}

.three {
  transform: rotateY(90deg) translateZ(40px);
}

.four {
  transform: rotateY(-90deg) translateZ(40px);
}

.five {
  transform: rotateX(90deg) translateZ(40px);
}

.six {
  transform: rotateX(-90deg) translateZ(40px);
}/*# sourceMappingURL=style.css.map */